/*
    CSS for GhostWriter blog software and template by Akama
*/

img {
    max-width: 100%;
}

a {
    color: #2980b9;
    text-decoration: none;
}


code {
    font-family: "DejaVu Sans Mono", Menlo, Consolas, monospace;
}

.HEADLINE {
    font-family: "Lucida Grande", Tahoma;
    font-size: 34px;
    margin-top: 5px;
    margin-bottom: 0px;
    text-align: left;
    padding-left: 50px;
    padding-bottom: 10px;
    font-weight: normal;
    color: white;
}

.subheadline {
    font-family: "Lucida Grande", Tahoma;
    font-size: 23px;
    font-weight: lighter;
    font-variant: normal;
    padding-left: 50px;
    padding-bottom: 30px;
    color: white;
}

.SUBHEADLINE {
    font-family: "Lucida Grande", Tahoma;
    font-size: 28px;
    font-weight: lighter;
    font-variant: normal;
    padding-bottom: 40px;
    text-transform: uppercase;
}


.BODYTEXT {
    font-family: 'Open Sans', sans-serif;
    font-size: 20px;

}

.subheader {
    text-align: right;
    padding-bottom: 2em;
    border-bottom: 1px solid black;
}

.navLink {
    color: white;
    font-size: 24px;
    padding-top: 16px;
    text-align: center;
    padding-top: 8px;
    padding-bottom: 15px;
}

.nav-border {
    border-bottom: black 1px solid;
}

.sidebar {
    padding-top: 32px;
}

.indexContent {
    padding-top: 16px;
    text-align: justify;
}

.contentPost {
    padding-bottom: 12px;
    border-bottom: solid 1px black;
}

.header {
    background-color: #3498db;
}

.projectPhoto {
    padding-top: 20px;
    vertical-align: middle;
}

.vertical-align {
    display: flex;
    align-items: center;
}

.project {
    padding-bottom: 15px;
    border-bottom: 1px solid black;
}

.socialmedia {
    padding-top: 15px;
}

.socialphoto {
    max-width: 2.5em;
    padding-right: 1em;
}