<!doctype html>
<html>
<head>
    {% block head %}
    <title>{% block title %}AvidHacker - Have Laptop, Will Travel.{% endblock %}</title>
    <!-- Add a favcon icon-->
    <link rel="stylesheet" type="text/css" media="all" href="static/960.css">
    <link rel="stylesheet" type="text/css" media="all" href="static/style.css">
    <link href='http://fonts.googleapis.com/css?family=Open+Sans:300italic,400,300' rel='stylesheet' type='text/css'>
    {% endblock %}
</head>
<body>
<div class="container_12">
    <div class="grid_12 mainHeader">
        <a href="index.html" class="HEADLINE"> AvidHacker </a>
    </div>
    <div class="grid_12 subheader SUBHEADLINE">
        Have Laptop, Will Travel.
    </div>
    <div class="grid_4 navLink SUBHEADLINE"><a href="index.html"> Blog </a></div>
    <div class="grid_4 navLink SUBHEADLINE"><a href="projects.html"> Projects </a></div>
    <div class="grid_4 navLink SUBHEADLINE"><a href="feed.xml"> RSS Feed </a></div>
    <div class="grid_12 nav-border"></div>
    {% block bigContents %}
    <div class="grid_3 suffix_1 sidebar BODYTEXT">
        About Me.
        <br>
        <br>
        I am a college student from the midwest. I'm working at a major in computer science, although some days it feels like I will never get there. My primary interests are computer science, network security, video games, and other random weekend projects. <br> <br>

        How to contact me: <br>
        adam@nexadmin.com <br>

        or avidhacker on freenode
    </div>
    <div class="grid_8 indexContent">
        {% block contents %}
        {% endblock %}
    </div>
    {% endblock %}
</div>

</body>
</html>
