{% extends "_base.html" %}

{% block bigContents %}
<div class="container">
  {% for entry in content %}
  <div class="row clearfix">
    <div class="col-md-8 column BODYTEXT">
        {{ entry['html'] }}
    </div>
    <div class="col-md-4 column">
      <ul class="list-group BODYTEXT socialmedia">
        <li class="list-group-item">
          <i class="fa  fa-twitter socialphoto"></i>
          <a href="https://twitter.com/avidhacker">
            @avidhacker
          </a>
        </li>
        <li class="list-group-item">
          <i class="fa  fa-github socialphoto"></i>
          <a href="https://github.com/UnrealAkama">
            UnrealAkama
          </a>
        </li>
        <li class="list-group-item">
          <i class="fa  fa-envelope-o socialphoto"></i>
          <a href="mailto:adam@nexadmin.com">
            adam@nexadmin.com
          </a>
        </li>
      </ul>
    </div>
  </div>
  {% endfor %}
</div>
{% endblock %}